<md-toolbar>
    <div class="md-toolbar-tools">
        <p><strong>ngJunik</strong></p>
        <md-button ng-click="vm.openSidebar()">
            <md-icon class="mdi mdi-plus-circle"></md-icon> <span>New shit</span> </md-button>
        <md-button ng-click="showFilters = true">
            <md-icon class="mdi mdi-magnify"></md-icon> <span>Filters</span> </md-button>
    </div>
</md-toolbar>
<div class="filters" layout="row" layout-align="center center" ng-show="showFilters">
    <md-input-container>
        <label>Enter search term</label>
        <input type="text" ng-model="classifiedFilter"> </md-input-container>
    <div layout="row">
        <md-button class="md-warn" ng-click="classifiedFilter = '';">Clear </md-button>
        <md-button class="md-accent" ng-click="showFilters = false">Close </md-button>
    </div>
    <!-- <md-input-container>
            <label>Category</label>
            <md-select>
                <md-option ng-repeat="category in categories" value="{{category}}"></md-option>
            </md-select>
        </md-input-container>-->
</div>
        <ui-view></ui-view>

<md-content>
    <pizza-card
    classifieds="vm.classifieds",
    ingredients="vm.ingredients",
    classified-filter="classifiedFilter"  ,
    classified="classified"
    class="md-padding" 
    layout="row" 
    layout-wrap></pizza-card>
</md-content>